@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap'); */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgba(0, 18, 50, 0.84), rgba(0, 0, 0, 0.95), );
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 18, 50);
    padding-top: 25px
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    font-family: 'Lato',
        sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.container {
    /*  it simply enables a 3D-space for children elements. */
    perspective: 1000px;
    -webkit-perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-container {
    margin-top: 30px;
}


.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    height: 30px;
    width: 35px;
    background: #01163e;
    border: 2px solid #314c81;
    transition: all .2s ease;
}

.seat.selected {
    background-color: #6feaf6;
    background-color: #31d7a9;
}

.seat.occupied {
    background-color: #1f407b;
    text-align: center;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    /* Selecting seats that do not have "occupied" class */
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.row {
    display: flex;
}

#snackbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    z-index: 9999; /* Ensure it appears above other content */
}

.hidden {
    display: none;
}